Python 3.8

SQL

Project Instructions

Explore and analyze the students data to see how the length of stay (stay) impacts the average mental health diagnostic scores of the international students present in the study.

    Return a table with nine rows and five columns.
    The five columns should be aliased as: stay, count_int, average_phq, average_scs, and average_as, in that order.
    The average columns should contain the average of the todep (PHQ-9 test), tosc (SCS test), and toas (ASISS test) columns for each length of stay, rounded to two decimal places.
    The count_int column should be the number of international students for each length of stay.
    Sort the results by the length of stay in descending order.

Note: Creating new cells in the workbook will rename the DataFrame. Make sure that your final solution uses the name df.

How to approach the project

1. Performing the calculations

Count the international students and find the summary statistics for each diagnostic test using aggregate functions. Round the averages to two decimal places and use the aliases min_phq, max_phq, and avg_phq.
Counting records

    Count the number of international students with COUNT(*). You'll apply the filter and grouping later on in the WHERE clause.

Calculating the averages

    The AVG() function will aggregate the values using the mean or average.
    You'll need to use the ROUND() function to reduce the values in the score fields to two decimal places.

Aliasing

    You can create an alias with the AS command within the SELECT statement.

2. Filter and group the data

You previously performed counts and average calculations on the data; now you need to apply the appropriate filter and group so that the calculations are done on the international student group only.
Creating the filter

    The WHERE clause can be coupled with many different operators, including =.
    Check the inter_dom data to see what the value is for an international student - be careful with case sensitivity.

Grouping data

    To perform aggregations on groups of data, use a GROUP BY clause.
    GROUP BY comes after WHERE but before ORDER BY.
    The grouped column also need to be in the SELECT statement.

3. Ordering records

Order the resulting table in descending order of stay.
Ordering data

    You'll need to ORDER BY the stay field with an additional keyword for descending order.

![Illustration of silhouetted heads](mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [1]:
import os
import pandas as pd
import psutil
import sqlite3 as sql

# https://stackoverflow.com/questions/36431213/sql-statement-for-csv-files-on-ipython-notebook
# Convert a flat file (CSV) to a SQLite database for analysis - as close to resembling SQL
# in Jupyter Notebook run using Python to standardize portfolio projects and efforts

# read the CSV
# df = pd.read_csv('students.csv')
df = pd.read_csv('C:/Users/Standard/PycharmProjects/pythonProject/workspace/students.csv')
# connect to a database
conn = sql.connect("Any_Database_Name.db") #if the db does not exist, this creates a Any_Database_Name.db file in the current directory
# *Attempt 1 to remove errors for publishing*
# remove previous database - to clear and prevent the error "ValueError: Table 'students' already exists." for publication
# os.remove("Any_Database_Name.db") 
# *Result 1:* PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'Any_Database_Name.db'
# https://stackoverflow.com/questions/56947481/kill-all-processes-locking-a-file
# *Attempt 2 to remove errors for publishing*
# *Result 2:*
# Kernel Restarting
# The kernel for workspace/notebook.ipynb appears to have died. It will restart
# *Response 2:*
# Will not remove this code and rerun top to bottom and see if any errors occur
# automatically.
# for p in psutil.process_iter():
#     try:
#         if "Any_Database_Name.db" in str(p.open_files()):
#             print(p.name())
#             print("^^^^^^^^^^^^^^^^^")
#             p.kill()
#     except:
#         continue
# *Attempt 3:*
# remove previous database - to clear and prevent the error "ValueError: Table 'students' already exists." for publication
# os.remove("Any_Database_Name.db") 
# *Result 3 was the same as Result 1*
# *Attempt 4:* Manually end the Notebook kernel, then delete the Database file to run the Notebook successfully before publishing, rerun this cell only once
# *Result 4: *
# store your table in the database:
df.to_sql('students', conn)
# read a SQL Query out of your database and into a pandas dataframe
# sql_string = 'SELECT * FROM students'
# df = pd.read_sql(sql_string, conn)
# Rerun to confirm the students table already exists

286

In [2]:
# 1 - https://mrjacklu.github.io/tutorials/Connecting-Jupypter-Notebook-to-SQL-Databse/
# 2 - https://github.com/mrjacklu/tutorials/blob/master/SQL%20Querying%20in%20Jupyter/SQL%20Querying%20in%20SQLite.ipynb
# Create a variable to the name of your data set, which should be in the same folder
# as this notebook

database = 'Any_Database_Name.db'

In [3]:
# Make the connection. 

connection = sql.connect(database)

In [4]:
# -- Run this code to view the data in students and make available for all future queries, no filters or grouping
sql_query = '''
SELECT * 
FROM students;
'''

In [5]:
# Update the df variable from the flat file conversion to a DataFrame
# with 2 inputs, the database connection and the query variable
df = pd.read_sql_query(sql_query, connection)

In [6]:
# Testing if the table data is visible
df.head(10)

,index,inter_dom,region,gender,academic,age,age_cate,stay,stay_cate,japanese,...,friends_bi,parents_bi,relative_bi,professional_bi,phone_bi,doctor_bi,religion_bi,alone_bi,others_bi,internet_bi
0,0,Inter,SEA,Male,Grad,24.0,4.0,5.0,Long,3.0,...,Yes,Yes,No,No,No,No,No,No,No,No
1,1,Inter,SEA,Male,Grad,28.0,5.0,1.0,Short,4.0,...,Yes,Yes,No,No,No,No,No,No,No,No
2,2,Inter,SEA,Male,Grad,25.0,4.0,6.0,Long,4.0,...,No,No,No,No,No,No,No,No,No,No
3,3,Inter,EA,Female,Grad,29.0,5.0,1.0,Short,2.0,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,4,Inter,EA,Female,Grad,28.0,5.0,1.0,Short,1.0,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No
5,5,Inter,SEA,Male,Grad,24.0,4.0,6.0,Long,3.0,...,Yes,No,No,No,No,No,No,Yes,No,No
6,6,Inter,SA,Male,Grad,23.0,4.0,1.0,Short,3.0,...,Yes,Yes,No,No,No,Yes,No,No,No,No
7,7,Inter,SEA,Female,Grad,30.0,5.0,2.0,Medium,1.0,...,No,No,No,Yes,No,No,No,No,No,No
8,8,Inter,SEA,Female,Grad,25.0,4.0,4.0,Long,4.0,...,No,No,No,No,No,No,No,No,No,No
9,9,Inter,Others,Male,Grad,31.0,5.0,2.0,Medium,1.0,...,No,No,No,No,No,No,No,No,No,No

In [7]:
# -- Find the number of international students and their average scores by length of stay, in descending order of length of stay
sql_query = '''
SELECT stay, 
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq, 
       ROUND(AVG(tosc), 2) AS average_scs, 
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC;
'''
# Store results in a new dataframe, which will be replaced throughout, original df preserved for as original data
df2 = pd.read_sql_query(sql_query, connection)
# Print results
df2

   stay  count_int  average_phq  average_scs  average_as
0  10.0          1        13.00        32.00       50.00
1   8.0          1        10.00        44.00       65.00
2   7.0          1         4.00        48.00       45.00
3   6.0          3         6.00        38.00       58.67
4   5.0          1         0.00        34.00       91.00
5   4.0         14         8.57        33.93       87.71
6   3.0         46         9.09        37.13       78.00
7   2.0         39         8.28        37.08       77.67
8   1.0         95         7.48        38.11       72.80